[submodule "newFilebeat"]
	path = newFilebeat
	url = git@github.com:vizionelkhelp/Filebeat.git
[submodule "Heartbeat"]
	path = Heartbeat
	url = https://github.com/vizion-elk/Heartbeat.git
[submodule "Winlogbeat"]
	path = Winlogbeat
	url = https://github.com/vizion-elk/Winlogbeat.git
[submodule "vizion.ai"]
	path = vizion.ai
	url = https://github.com/vizion-elk/vizion.ai.git
[submodule "Redis"]
	path = Redis
	url = https://github.com/vizionelkhelp/Redis.git
